.form-group .excerpt .CodeMirror {
  height: 130px;
  min-height: 100px;
}
 a.selected-status{
   font-weight: bold;
 }

body{
	background-color: #ecf0f5;
}

#note {
        position: absolute;
        z-index: 6001;
        top: 10px;
        right: 22px;
				padding: 10px;
				font-size: 16px;
        background: #00c0ef;
        text-align: center;
				color: #fff;
        overflow: hidden;
        -webkit-box-shadow: 0 0 5px #ccc;
        -moz-box-shadow:    0 0 5px #ccc;
        box-shadow:         0 0 5px #ccc;
    }
    .cssanimations.csstransforms #note {
        -webkit-transform: translateY(-500px);
        -webkit-animation: slideDown 5.5s 1s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }


    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-500px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-500px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
